/**
In this file we provide styles which target the editor specifically

We want our general styles to work both on the frontend and backend. But 
sometimes we need to provide specific editor styles to offer a userfriendly
experience. 

The goal is to keep this file to a minimum. 
*/


/* ------------------------ CHANGE DEFAULT BEHAVIOR ------------------------- */

/* Remove global padding from site container */
.editor-styles-wrapper {
	padding: 0 !important;
}

/* Left and right alignments (float inside content) */
.is-root-container > .alignleft {
    margin-left: max(0px, calc((100% - var(--wp--style--global--content-size)) / 2)) !important;
}

.is-root-container > .alignright {
    margin-right: max(0px, calc((100% - var(--wp--style--global--content-size)) / 2)) !important;
}


/* -------------------------------- CUSTOM ---------------------------------- */

.image-button-2 > .wp-block-image > .components-resizable-box__container {
    aspect-ratio: 21/9 !important;
}

